QUESTION_1

In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

Ans: Values: 'hello', -87.8, and 6.
     Expression: *, -, /, +.

QUESTION_2

What is the difference between string and variable?

Ans: String is a datatype and it's collection of alphabets, words, numbers and other types of characters.
     The values must be enclosed with the the double quotation mark while defining. 

     Variables are used to store the values, it can be measured and it can have different values.
     It can store values of any datatype, for e.g. string, int, float, boolean, etc.
     The variable name cannot start with a number. e.g. "123ABC" or "25test"
      
     Examples: x = "test" - Here, x is the variable and "test" is the string value assigned to x.

QUESTION_3

Describe three different data types.

Ans: 1) Integer = int() - An integer can accept only whole numbers.
     2) Float = float() - Float can accept the number values with decimal point.
     3) Blooean = bool() - Boolean value can either be True or False.

QUESTION_4

What is an expression made up of? What do all expressions do?

Ans: Expression is a conbination of operands and operators(values and functions) where operators indicates what operation to perform and operands indicate what items to apply the action to.
     It produces some value or result after being interpreted by the interpreter.
     Expression is a process of representing or conveying a value in words or other form.
     Expression can be of "Simple" or "Complex" type.

QUESTION_5

This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans: Expressions: Every expression can be a statement but, every statement cannot be an expression.
                  Expression produces some value or result after being executed by the interpreter. Expression has values and functions to perform an operation on values.
       
     Statements:  Statement is a programming instruction or a set of instructions that gets executed and performs some or other actions but it does not necessarily return output or value everytime.

QUESTION_6

After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans: The valiable bacon will have a value of 23 after entire the code is executed.
     
     bacon = 22 - Initially, variable bacon is assigned a value of 22.
     bacon + 1  - Now, bacon is incremented by 1 hence the bacon variable contains value of 23 after executing the second line of the code.
     
     Please refer to the below code.

In [2]:
bacon = 22
bacon + 1

23

QUESTION_7

What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

Ans: If both the codes are executed at the same time or if both the line of code is executed individually, the value will be "spamspamspam".
     'spam' + 'spamspam' - This will contatenate word'spam' and 'spamspam' wothout any space as no space is given between both words.
     'spam' * 3 - In this, word 'spam' gets multiplied with itself which produces 'spamspamspam'.
      
     When both the codes are executed at the same time the complier considers the last line of the code and returns 'spamspamspam'.
      
     Please refer to the below code.

In [3]:
'spam' + 'spamspam'

'spam' * 3

'spamspamspam'

QUESTION_8

Why is eggs a valid variable name while 100 is invalid?

Ans: As per the variable naming system in python, a variable name must begin with letter A-Z(upper or lower case) or underscore and cannot start with any number, hence eggs is a valid variable and 100 
     is invalid.

QUESTION_9

What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans: int() - funtion will be used to get any value of integer datatype.
     float() - function will be used to get any value of float datatype.
     str() - function will be used to get any value with string datatype.

QUESTION_10

Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

Ans: In this example, we are trying to concatenate string value with integer value hence there's an error.
     To solve this, we have to enclose number 99 within inverted comma as '99'. Doing this, python will automatically convert the integer(99) to string and will concatenate it with the string value.
      
     Please refer to the below code.

In [7]:
# Correct Code:

'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'